*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #145a32;
}

.container {
    background-color: #fff;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
}

.timer-display {
    position: relative;
    width: 92%;
    background: #fff;
    left: 4%;
    font-family: 'Roboto mono', monospace;
    color: #145a32;
    font-size: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.buttons {
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 120px;
    height: 45px;
    color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.start-button {
  background-color: #145a32;
}

.pause-button {
    background-color: #e35209;
}

.lap-button {
    background-color: #f7df1e;
}

button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.lap-timings{
    font-family: 'Roboto mono', monospace;
    color: rgb(79, 62, 62);
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

.overall-time{
    color: #145a32;
}

.lap-header {
    margin-top: 50px;
    margin-bottom: 25px;
}